<article>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <label for="post-title">Title</label> 
            <input name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div>
            <label for="post-text">Post</label> 
            <textarea name="post-text" type="text" >{{post.post_text}}</textarea>
        </div>
        <button type="submit">Save Post</button>
        <button type="button" class="delete-post-btn">Delete Post</button>
    </form>
</article>

{{!-- import post comments partial --}}
<div id="comments">
    {{> comments post.comments}}

    {{!-- Comment Form --}}
    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button type="submit">add comment</button>
        </div>
    </form>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>