
<div id="single-post">
    
    {{> post-info post}}

    {{!-- if user is logged in show comment form --}}
    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button type="submit">add comment</button>
        </div>
    </form>
    {{/if}}

    {{!-- import post comments partial --}}
    {{> comments post.comments}}

    {{#if logged}}
    <script src="/javascript/comment.js"></script>
    {{/if}}
    
</div>