
    
{{> post-info post}}

<div id="comments">
    {{!-- import post comments partial --}}
    {{> comments post.comments}}
    
    {{!-- if user is logged in show comment form --}}
    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button type="submit">add comment</button>
        </div>
    </form>
    {{/if}}
   
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}

